/* Skin 'topdesk-rainbow-total-skin' (4) */

img.inline { position:static;vertical-align:bottom;border:none; }

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"), url("/tas/fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/tas/fonts/OpenSans-BoldItalic.woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/tas/fonts/OpenSans-Bold.woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/tas/fonts/OpenSans-Italic.woff");
}
::-webkit-input-placeholder {
    color: #999999 !important;
    font-style: italic !important;
}
:-moz-placeholder {
    color: #999999 !important;
    font-style: italic !important;
}
::-moz-placeholder {
    color: #999999 !important;
    font-style: italic !important;
}
:-ms-input-placeholder {
    color: #999999 !important;
    font-style: italic !important;
}
input[mtype=combobox]::-ms-clear {
    width: 0px;
    height: 0px;
}
.a0 {font-family: 'Open Sans', Verdana, sans-serif;}
.a1 {font-family: 'Courier New', monospace;}
.b0 {
    line-height: 15px;
    font-size: 12px;
}
.b1 {
    line-height: 16px;
    font-size: 13px;
}
.b2 {
    line-height: 14px;
    font-size: 11px;
}
.b3 {
    line-height: 17px;
    font-size: 14px;
}
.b4 {
    line-height: 29px;
    font-size: 24px;
}
.b5 {
    line-height: 20px;
    font-size: 16px;
}
.c0 {font-weight: normal;}
.c1 {font-weight: bold;}
.d0 {font-style: normal;}
.d1 {font-style: italic;}
.e0 {text-decoration: underline;}
.e1 {text-decoration: none;}
.f0 {border: 1px solid #fbd794;}
.f1 {
    border-bottom: 0px;
    border-left: 1px solid #c0c5ce;
    border-right: 1px solid #c0c5ce;
    border-top: 0px;
}
.f2 {border: 1px solid #c0c5ce;}
.f3 {border: 1px solid #bbbbbb;}
.f4 {
    border-bottom: 0px;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
}
.f5 {border: 1px solid #e0e0e0;}
.f6 {border: 1px solid #178755;}
.f7 {border: 1px solid #e37331;}
.f8 {border: 1px solid #057aab;}
.f9 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid #bf1b2c;
    border-top: 0px;
}
.f10 {border: 0px;}
.f11 {
    border-bottom: 4px solid #c6e6f4;
    border-left: 3px solid transparent;
    border-right: 3px solid #c6e6f4;
    border-top: 4px solid transparent;
}
.f12 {
    border-bottom: 4px solid #c6e6f4;
    border-left: 3px solid #c6e6f4;
    border-right: 3px solid transparent;
    border-top: 4px solid transparent;
}
.f13 {
    border-bottom: 3px solid #d03131;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f14 {
    border-bottom: 3px solid #e37331;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f15 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f16 {
    border-bottom: 0px;
    border-left: 1px solid #006b9c;
    border-right: 1px solid #006b9c;
    border-top: 0px;
}
.f17 {
    border-bottom: 0px;
    border-left: 1px solid #c68400;
    border-right: 1px solid #c68400;
    border-top: 0px;
}
.f18 {
    border-bottom: 1px solid #ffffff;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f19 {
    border-bottom: 0px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}
.f20 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid #c68400;
    border-top: 0px;
}
.f21 {
    border-bottom: 0px;
    border-left: 3px solid #006b9c;
    border-right: 0px;
    border-top: 0px;
}
.f22 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid #137549;
    border-top: 0px;
}
.f23 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid #707070;
    border-top: 0px;
}
.f24 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 0px;
    border-right: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
}
.f25 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid #d6611d;
    border-top: 0px;
}
.f26 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #d1d1d1;
}
.f27 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f28 {
    border-bottom: 3px solid #057aab;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f29 {
    border-bottom: 3px solid #eda911;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f30 {border: 1px solid #91b2d3;}
.f31 {border: 1px solid #499ec1;}
.f32 {
    border-bottom: 1px solid #057aab;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f33 {
    border-bottom: 3px solid #d1d1d1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f34 {
    border-bottom: 1px solid transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f35 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px solid #d1d1d1;
    border-top: 0px;
}
.f36 {border: 1px solid #d1d1d1;}
.f37 {border: 1px solid #d03131;}
.f38 {
    border-bottom: 0px;
    border-left: 12px solid #bbbbbb;
    border-right: 0px;
    border-top: 0px;
}
.f39 {border: 1px solid #76b6d1;}
.f40 {
    border-bottom: 3px solid #776db6;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f41 {border: 1px solid #cd7dac;}
.f42 {
    border-bottom: 0px;
    border-left: 1px solid #499ec1;
    border-right: 0px;
    border-top: 0px;
}
.f43 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #bbbbbb;
}
.f44 {
    border-bottom: 1px solid #e0e0e0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f45 {
    border-bottom: 1px solid #e0e0e0;
    border-left: 6px solid #057aab;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.f46 {border: 2px solid #40a9e8;}
.f47 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 3px solid #006b9c;
    border-top: 0px;
}
.f48 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #499ec1;
}
.f49 {
    border-bottom: 6px solid transparent;
    border-left: 6px solid #ffffff;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
}
.f50 {border: 1px solid #a3487a;}
.f51 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #ffffff;
}
.f52 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 0px;
    border-top: 0px;
}
.f53 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid #178755;
}
.f54 {
    border-bottom: 0px;
    border-left: 1px solid #d1d1d1;
    border-right: 0px;
    border-top: 0px;
}
.f55 {
    border-bottom: 1px solid #959595;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f56 {border: 2px solid transparent;}
.f57 {border: 1px solid #959595;}
.f58 {
    border-bottom: 0px;
    border-left: 6px solid #057aab;
    border-right: 0px;
    border-top: 0px;
}
.f59 {border: 1px solid #9f99cb;}
.f60 {border: 1px solid #990000;}
.f61 {
    border-bottom: 0px;
    border-left: 3px solid #bf1b2c;
    border-right: 0px;
    border-top: 0px;
}
.f62 {border: 1px solid #eda911;}
.f63 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 40px solid #ffe68c;
}
.f64 {border: 1px solid #417e8b;}
.f65 {
    border-bottom: 0px;
    border-left: 3px solid #707070;
    border-right: 0px;
    border-top: 0px;
}
.f66 {
    border-bottom: 0px;
    border-left: 3px solid #c68400;
    border-right: 0px;
    border-top: 0px;
}
.f67 {
    border-bottom: 0px;
    border-left: 3px solid #137549;
    border-right: 0px;
    border-top: 0px;
}
.f68 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 0px;
    border-top: 1px solid #bbbbbb;
}
.f69 {
    border-bottom: 0px;
    border-left: 3px solid #d6611d;
    border-right: 0px;
    border-top: 0px;
}
.f70 {
    border-bottom: 0px;
    border-left: 1px solid #ffffff;
    border-right: 0px;
    border-top: 0px;
}
.f71 {
    border-bottom: 0px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 0px;
}
.f72 {border: 1px solid #c8d8e9;}
.f73 {border: 1px solid #776db6;}
.f74 {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid #ffffff;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
}
.f75 {border: 1px solid #ffc440;}
.f76 {border: 1px solid #42b180;}
.f77 {border: 2px solid #006b9c;}
.f78 {border: 2px solid #c68400;}
.f79 {border: 1px solid #78a9b4;}
.f80 {
    border-bottom: 0px;
    border-left: 6px solid #76b6d1;
    border-right: 0px;
    border-top: 0px;
}
.f81 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #bbbbbb;
}
.f82 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #f2f2f2;
    border-top: 1px solid #bbbbbb;
}
.f83 {border: 1px solid #e65953;}
.f84 {border: 1px solid #f9a35c;}
.f85 {
    border-bottom: 0px;
    border-left: 3px solid #76b6d1;
    border-right: 0px;
    border-top: 0px;
}
.f86 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #bbbbbb;
}
.f87 {
    border-bottom: 1px solid #d3d8df;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #c0c5ce;
}
.f88 {
    border-bottom: 24px solid transparent;
    border-left: 0px;
    border-right: 24px solid #dbd8eb;
    border-top: 0px;
}
.f89 {
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #bbbbbb;
}
.f90 {
    border-bottom: 1px solid #c0c5ce;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f91 {
    border-bottom: 1px solid #f2f2f2;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f92 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #707070;
}
.f93 {border: 1px solid #006b9c;}
.f94 {
    border-bottom: 2px solid #f2f2f2;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f95 {border: 1px solid #d3d8df;}
.f96 {border: 1px solid #ff0000;}
.f97 {border: 1px solid #008000;}
.f98 {
    border-bottom: 1px solid #d3e6ea;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #d3e6ea;
}
.f99 {border: 1px solid #707070;}
.f100 {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-top: 0px;
}
.f101 {border: 1px dashed #d1d1d1;}
.f102 {
    border-bottom: 1px solid #dbd8eb;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #dbd8eb;
}
.f103 {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 0px;
    border-top: 1px solid #e0e0e0;
}
.f104 {border: 2px solid #8c9dae;}
.f105 {
    border-bottom: 0px;
    border-left: 4px solid #bbbbbb;
    border-right: 0px;
    border-top: 0px;
}
.f106 {
    border-bottom: 0px;
    border-left: 4px solid #bf1b2c;
    border-right: 0px;
    border-top: 0px;
}
.f107 {
    border-bottom: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 0px;
}
.f108 {border: 1px solid #ffffff;}
.f109 {
    border-bottom: 0px;
    border-left: 6px solid #1eb8f8;
    border-right: 0px;
    border-top: 0px;
}
.f110 {border: 1px solid transparent;}
.f111 {
    border-bottom: 4px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #c6e6f4;
    border-top: 4px solid #c6e6f4;
}
.f112 {
    border-bottom: 4px solid transparent;
    border-left: 3px solid #c6e6f4;
    border-right: 3px solid transparent;
    border-top: 4px solid #c6e6f4;
}
.f113 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 0px;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}
.f114 {
    border-bottom: 4px solid transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 4px solid transparent;
}
.f115 {
    border-bottom: 1px solid #990000;
    border-left: 0px;
    border-right: 1px solid #990000;
    border-top: 1px solid #990000;
}
.f116 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px solid #ffffff;
    border-top: 0px;
}
.f117 {
    border-bottom: 0px;
    border-left: 3px solid #006b9c;
    border-right: 3px solid #006b9c;
    border-top: 0px;
}
.f118 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #ffffff;
    border-right: 0px;
    border-top: 1px solid #ffffff;
}
.f119 {
    border-bottom: 1px solid #777f91;
    border-left: 1px solid #777f91;
    border-right: 1px solid #777f91;
    border-top: 0px;
}
.f120 {border: 4px solid #3a3a3a;}
.f121 {
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid #ffffff;
    border-top: 6px solid #ffffff;
}
.f122 {
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid #f2f2f2;
    border-top: 6px solid #f2f2f2;
}
.f123 {
    border-bottom: 1px solid #76b6d1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f124 {border: 2px solid #c6e6f4;}
.f125 {
    border-bottom: 1px solid #ffffff;
    border-left: 0px;
    border-right: 1px solid #d1d1d1;
    border-top: 0px;
}
.f126 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 0px;
    border-right: 1px solid #d1d1d1;
    border-top: 0px;
}
.f127 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 0px;
    border-top: 1px solid #d1d1d1;
}
.f128 {
    border-bottom: 6px solid transparent;
    border-left: 6px solid #3a3a3a;
    border-right: 0px;
    border-top: 6px solid transparent;
}
.f129 {
    border-bottom: 0px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 0px;
}
.f130 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #1eb8f8;
}
.f131 {
    border-bottom: 0px;
    border-left: 12px solid #e0e0e0;
    border-right: 0px;
    border-top: 1px solid #d1d1d1;
}
.f132 {
    border-bottom: 0px;
    border-left: 12px solid #e0e0e0;
    border-right: 0px;
    border-top: 0px;
}
.f133 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 12px solid #bbbbbb;
    border-right: 0px;
    border-top: 0px;
}
.f134 {
    border-bottom: 1px solid #ffd798;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f135 {
    border-bottom: 0px;
    border-left: 5px solid #ffe68c;
    border-right: 0px;
    border-top: 0px;
}
.f136 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 0px;
}
.f137 {border: 1px solid #c6e6f4;}
.f138 {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid #ffffff;
    border-top: 6px solid transparent;
}
.f139 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #76b6d1;
}
.f140 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid #ffe68c;
}
.f141 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #ffffff;
    border-right: 0px;
    border-top: 0px;
}
.f142 {
    border-bottom: 1px solid #d1d1d1;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #d1d1d1;
}
.f143 {
    border-bottom: 1px solid #ffffff;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #ffffff;
}
.f144 {
    border-bottom: 0px;
    border-left: 3px solid #bf1b2c;
    border-right: 3px solid #bf1b2c;
    border-top: 0px;
}
.f145 {
    border-bottom: 0px;
    border-left: 1px solid #1eb8f8;
    border-right: 0px;
    border-top: 0px;
}
.f146 {border: 1px solid #525252;}
.f147 {
    border-bottom: 0px;
    border-left: 3px solid #c68400;
    border-right: 3px solid #c68400;
    border-top: 0px;
}
.f148 {
    border-bottom: 0px;
    border-left: 3px solid #137549;
    border-right: 3px solid #137549;
    border-top: 0px;
}
.f149 {
    border-bottom: 0px;
    border-left: 3px solid #707070;
    border-right: 3px solid #707070;
    border-top: 0px;
}
.f150 {
    border-bottom: 0px;
    border-left: 1px solid #777f91;
    border-right: 1px solid #777f91;
    border-top: 0px;
}
.f151 {
    border-bottom: 0px;
    border-left: 3px solid #d6611d;
    border-right: 3px solid #d6611d;
    border-top: 0px;
}
.f152 {border: 2px solid #057aab;}
.f153 {
    border-bottom: 1px solid #707070;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f154 {border: 2px solid #bf1b2c;}
.f155 {border: 1px solid #6bc8c8;}
.f156 {
    border-bottom: 1px solid #d03131;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f157 {
    border-bottom: 1px solid #178755;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f158 {
    border-bottom: 1px solid #eda911;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f159 {
    border-bottom: 1px solid #e37331;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.f160 {
    border-bottom: 24px solid transparent;
    border-left: 0px;
    border-right: 24px solid transparent;
    border-top: 0px;
}
.f161 {border: 8px solid #f2f2f2;}
.f162 {
    border-bottom: 24px solid transparent;
    border-left: 0px;
    border-right: 24px solid #c6e6f4;
    border-top: 0px;
}
.f163 {border: 1px solid #4bbcbc;}
.f164 {
    border-bottom: 0px;
    border-left: 1px solid #e0e0e0;
    border-right: 0px;
    border-top: 0px;
}
.f165 {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid #f2f2f2;
}
.f166 {
    border-bottom: 6px solid transparent;
    border-left: 6px solid #f2f2f2;
    border-right: 6px solid transparent;
    border-top: 6px solid #f2f2f2;
}
.g0 {border-radius: 3px;}
.g1 {border-radius: 24px;}
.g2 {border-radius: 4px;}
.g3 {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
}
.g4 {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.g5 {border-radius: 99999px;}
.g6 {border-radius: 0px;}
.g7 {border-radius: 2px;}
.g8 {border-radius: 5px;}
.g9 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}
.g10 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
}
.g11 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}
.g12 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
}
.g13 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.g14 {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
}
.g15 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 48px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.g16 {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
}
.g17 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
}
.g18 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
}
.g19 {border-radius: 6px;}
.g20 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.g21 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
}
.h0 {
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
}
.h1 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
}
.h2 {
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}
.h3 {
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
}
.h4 {
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
}
.h5 {
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
}
.h6 {
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
}
.h7 {
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
}
.h8 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 22px;
    padding-top: 0px;
}
.h9 {
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 0px;
    padding-top: 0px;
}
.h10 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 6px;
    padding-top: 0px;
}
.h11 {
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h12 {padding: 0px;}
.h13 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
}
.h14 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 12px;
    padding-top: 0px;
}
.h15 {padding: 12px;}
.h16 {
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h17 {padding: 6px;}
.h18 {
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 8px;
}
.h19 {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
}
.h20 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}
.h21 {
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 0px;
    padding-top: 9px;
}
.h22 {
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
}
.h23 {
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
}
.h24 {
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}
.h25 {padding: 10px;}
.h26 {
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
}
.h27 {padding: 1px;}
.h28 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    padding-top: 12px;
}
.h29 {
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}
.h30 {
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
}
.h31 {
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
}
.h32 {padding: 24px;}
.h33 {
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.h34 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 0px;
}
.h35 {
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h36 {
    padding-bottom: 18px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h37 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
}
.h38 {padding: 2px;}
.h39 {
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}
.h40 {padding: 8px;}
.h41 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.h42 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 0px;
}
.h43 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}
.h44 {
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 0px;
    padding-top: 0px;
}
.h45 {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.h46 {
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h47 {padding: 4px;}
.h48 {
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
}
.h49 {
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-top: 0px;
}
.h50 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}
.h51 {
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
}
.h52 {
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h53 {
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 0px;
}
.h54 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 1px;
    padding-top: 0px;
}
.h55 {padding: 3px;}
.h56 {
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h57 {
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
}
.h58 {padding: 15px;}
.h59 {
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 0px;
    padding-top: 0px;
}
.h60 {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    padding-top: 0px;
}
.h61 {padding: 5px;}
.h62 {
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
}
.h63 {padding: 16px;}
.h64 {
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
}
.h65 {
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
}
.h66 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
}
.h67 {
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 6px;
}
.h68 {
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
}
.h69 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
}
.h70 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 8px;
    padding-top: 0px;
}
.h71 {padding: 7px;}
.h72 {
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
}
.h73 {
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
}
.h74 {
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
}
.h75 {
    padding-bottom: 45px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 7px;
}
.h76 {
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 0px;
    padding-top: 5px;
}
.h77 {
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
}
.h78 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 20px;
}
.h79 {
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 3px;
}
.h80 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
}
.h81 {
    padding-bottom: 0px;
    padding-left: 36px;
    padding-right: 0px;
    padding-top: 0px;
}
.h82 {
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 12px;
    padding-top: 6px;
}
.h83 {
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}
.h84 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 24px;
    padding-top: 6px;
}
.h85 {
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 5px;
}
.h86 {
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
}
.h87 {
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 3px;
}
.h88 {
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
}
.h89 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 3px;
}
.h90 {
    padding-bottom: 9px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 9px;
}
.h91 {
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 4px;
}
.h92 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
}
.h93 {
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}
.h94 {
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 6px;
    padding-top: 6px;
}
.h95 {
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h96 {
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 8px;
}
.h97 {
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 2px;
}
.h98 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 0px;
}
.h99 {
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
}
.h100 {
    padding-bottom: 19px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 9px;
}
.h101 {
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}
.h102 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 2px;
    padding-top: 0px;
}
.h103 {
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
}
.h104 {
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 4px;
}
.h105 {
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 12px;
    padding-top: 0px;
}
.h106 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 32px;
    padding-top: 0px;
}
.h107 {
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 0px;
    padding-top: 0px;
}
.h108 {
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
}
.h109 {
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h110 {
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h111 {
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 0px;
}
.h112 {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 2px;
}
.h113 {
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 0px;
    padding-top: 3px;
}
.h114 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
}
.h115 {padding: 11px;}
.h116 {
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
}
.h117 {
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
}
.h118 {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}
.h119 {
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 6px;
    padding-top: 6px;
}
.h120 {
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}
.h121 {
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 24px;
}
.h122 {
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 14px;
}
.h123 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 3px;
    padding-top: 0px;
}
.h124 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
}
.h125 {
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}
.h126 {
    padding-bottom: 24px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 24px;
}
.h127 {
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 6px;
}
.h128 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
}
.h129 {
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
}
.h130 {
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 0px;
}
.h131 {
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h132 {
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
}
.h133 {
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 7px;
}
.h134 {
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
}
.h135 {
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 0px;
}
.h136 {
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
}
.h137 {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 7px;
    padding-top: 10px;
}
.h138 {
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 4px;
}
.h139 {
    padding-bottom: 0px;
    padding-left: 294px;
    padding-right: 0px;
    padding-top: 0px;
}
.h140 {padding: 20px;}
.h141 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
}
.h142 {
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
}
.h143 {
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}
.h144 {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
}
.h145 {
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
}
.h146 {
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 0px;
    padding-top: 0px;
}
.h147 {
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.h148 {
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 6px;
    padding-top: 0px;
}
.h149 {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h150 {
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
}
.h151 {
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 0px;
    padding-top: 4px;
}
.h152 {
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 0px;
    padding-top: 6px;
}
.h153 {
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}
.h154 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 3px;
}
.h155 {
    padding-bottom: 13px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.h156 {
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 0px;
    padding-top: 6px;
}
.h157 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
}
.h158 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 4px;
    padding-top: 0px;
}
.h159 {
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px;
}
.h160 {
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
}
.h161 {
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
}
.h162 {
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
}
.h163 {
    padding-bottom: 0px;
    padding-left: 19px;
    padding-right: 0px;
    padding-top: 0px;
}
.h164 {
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 0px;
    padding-top: 16px;
}
.h165 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 24px;
}
.h166 {
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 5px;
    padding-top: 0px;
}
.h167 {
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
}
.h168 {
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
}
.h169 {
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 6px;
}
.h170 {
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 0px;
    padding-top: 12px;
}
.h171 {
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 0px;
}
.h172 {
    padding-bottom: 18px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 10px;
}
.h173 {
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}
.h174 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 104px;
}
.h175 {
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
}
.h176 {
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 6px;
    padding-top: 1px;
}
.h177 {
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 7px;
    padding-top: 7px;
}
.h178 {padding: 9px;}
.h179 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 12px;
    padding-top: 12px;
}
.h180 {
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 1px;
    padding-top: 6px;
}
.h181 {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
}
.h182 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}
.i0 {color: #3a3a3a;}
.i1 {color: #ffffff;}
.i2 {color: #707070;}
.i3 {color: #3e4460;}
.i4 {color: #d1d1d1;}
.i5 {color: #d03131;}
.i6 {color: #e37331;}
.i7 {color: #525252;}
.i8 {color: #bf1b2c;}
.i9 {color: #bbbbbb;}
.i10 {color: #057aab;}
.i11 {color: #eda911;}
.i12 {color: #003282;}
.i13 {color: #576172;}
.i14 {color: #76b6d1;}
.i15 {color: transparent;}
.i16 {color: #0064a0;}
.i17 {color: #000000;}
.i18 {color: #777f91;}
.i19 {color: #990000;}
.i20 {color: #959595;}
.i21 {color: #e65953;}
.i22 {color: #e0e0e0;}
.i23 {color: #008000;}
.i24 {color: #499ec1;}
.i25 {color: #9b6300;}
.i26 {color: #006b9c;}
.i27 {color: HighlightText;}
.i28 {color: #00008b;}
.i29 {color: #417e8b;}
.i30 {color: #4d606d;}
.i31 {color: #bb551a;}
.i32 {color: #78a9b4;}
.i33 {color: #d32a2a;}
.i34 {color: #f2f2f2;}
.i35 {color: #c0c5ce;}
.i36 {color: #776db6;}
.i37 {color: #a41725;}
.i38 {color: #0076c0;}
.i39 {color: #9f99cb;}
.j0 {background-color: #fde8c2;}
.j1 {background-color: #fafbfc;}
.j2 {background-color: #e0e0e0;}
.j3 {background-color: #ffffff;}
.j4 {background-color: #1eb8f8;}
.j5 {background-color: #d1d1d1;}
.j6 {background-color: #178755;}
.j7 {background-color: #e37331;}
.j8 {background-color: transparent;}
.j9 {background-color: #069ddd;}
.j10 {background-color: #057aab;}
.j11 {background-color: #aedbc2;}
.j12 {background-color: #ee8d83;}
.j13 {background-color: #c6e6f4;}
.j14 {background-color: #eda911;}
.j15 {background-color: rgba(198,230,244,0.250980);}
.j16 {background-color: rgba(253,239,180,0.501960);}
.j17 {background-color: #f2f2f2;}
.j18 {background-color: #ffe68c;}
.j19 {background-color: #73c59e;}
.j20 {background-color: #f9a35c;}
.j21 {background-color: #959595;}
.j22 {background-color: #76b6d1;}
.j23 {background-color: #499ec1;}
.j24 {background-color: #fbdad5;}
.j25 {background-color: #006b9c;}
.j26 {background-color: #dbd8eb;}
.j27 {background-color: #cd7dac;}
.j28 {background-color: #bf1b2c;}
.j29 {background-color: #a3487a;}
.j30 {background-color: #137549;}
.j31 {background-color: #c68400;}
.j32 {background-color: #707070;}
.j33 {background-color: #d6611d;}
.j34 {background-color: #d9f8fd;}
.j35 {background-color: #fdefb4;}
.j36 {background-color: #bbbbbb;}
.j37 {background-color: #91b2d3;}
.j38 {background-color: #d03131;}
.j39 {background-color: #ffd9a3;}
.j40 {background-color: #c8d8e9;}
.j41 {background-color: #f2d9e7;}
.j42 {background-color: #9f99cb;}
.j43 {background-color: #fff3f3;}
.j44 {background-color: #417e8b;}
.j45 {background-color: #ffe8c4;}
.j46 {background-color: #776db6;}
.j47 {background-color: #42b180;}
.j48 {background-color: #ffc440;}
.j49 {background-color: #b7b2d8;}
.j50 {background-color: #fdfdfd;}
.j51 {background-color: #dbdde1;}
.j52 {background-color: #78a9b4;}
.j53 {background-color: #e65953;}
.j54 {background-color: #d3e6ea;}
.j55 {background-color: #3a3a3a;}
.j56 {background-color: #c0c5ce;}
.j57 {background-color: #777f91;}
.j58 {background-color: #525252;}
.j59 {background-color: #ffd798;}
.j60 {background-color: rgba(25,160,100,0.800000);}
.j61 {background-color: #ebc3c3;}
.j62 {background-color: #f5c88c;}
.j63 {background-color: #96a2b5;}
.j64 {background-color: #a5c8cf;}
.j65 {background-color: #576172;}
.j66 {background-color: Highlight;}
.j67 {background-color: #6bc8c8;}
.j68 {background-color: #4bbcbc;}
.k0 {cursor: text;}
.k1 {cursor: pointer;}
.k2 {cursor: default;}
.k3 {cursor: w-resize;}
.k4 {cursor: move;}
.k5 {cursor: cell;}
.l0 {text-align: center;}
.l1 {text-align: left;}
.l2 {text-align: right;}
.m0 {box-shadow: 0px 3px 3px #bbbbbb;}
.m1 {box-shadow: none;}
.m2 {box-shadow: 0px 3px 6px rgba(0,0,0,0.160784),0px 3px 6px rgba(0,0,0,0.231372);}
.m3 {box-shadow: 0px 10px 20px rgba(0,0,0,0.188235),0px 6px 6px rgba(0,0,0,0.231372);}
.m4 {box-shadow: 0px 0px 5px #d1d1d1;}
.m5 {box-shadow: 0px 14px 28px rgba(0,0,0,0.250980),0px 10px 10px rgba(0,0,0,0.219607);}
.m6 {box-shadow: 0px 5px 15px rgba(0,0,0,0.400000);}
.m7 {box-shadow: -1px 1px 10px -3px #707070;}
.m8 {box-shadow: 5px 5px 25px rgba(0,0,0,0.101960);}
.m9 {box-shadow: 0px 3px #12774b;}
.m10 {box-shadow: 0px 2px 2px -2px #777f91;}
.m11 {box-shadow: 1px -1px #ffffff,2px -2px #d1d1d1,3px -3px #ffffff,4px -4px #d1d1d1;}
.m12 {box-shadow: 0px 3px #006b9c;}
.m13 {box-shadow: 0px 10px 10px rgba(0,0,0,0.121568),0px 4px 4px rgba(0,0,0,0.239215);}
.m14 {box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.501960);}
.m15 {box-shadow: 0px 3px rgba(18,119,75,0.800000);}
.m16 {box-shadow: 0px 3px #057aab;}
.m17 {box-shadow: 0px 5px 15px 1px #707070;}
.m18 {box-shadow: 0px 1px 3px rgba(0,0,0,0.121568),0px 1px 2px rgba(0,0,0,0.239215);}
.m19 {box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.400000);}
.m20 {box-shadow: 0px 3px 6px 1px #bbbbbb;}
.n0 {background-image: linear-gradient(90deg,transparent,rgba(255,224,224,0.752941));}
.n1 {background-image: linear-gradient(to bottom,#fdfdfd,#e6e7eb);}
.n2 {background-image: linear-gradient(to bottom,#dbdde1,#cbced4);}
.n3 {background-image: linear-gradient(to bottom,#fdfdfd,#e3ecf4);}
.n4 {background-image: linear-gradient(to right,#f2f2f2 36px,#ffffff 36px);}
.n5 {background-image: linear-gradient(to bottom,#ffffff 5px,#fafbfc 15px);}
.n6 {background-image: linear-gradient(to left,#fff3f3,#ebc3c3);}
.n7 {background-image: linear-gradient(90deg,transparent,rgba(224,255,255,0.501960));}
.n8 {background-image: linear-gradient(to bottom,#e0e0e0,#bbbbbb);}
.n9 {background-image: linear-gradient(to bottom,#707070,#3a3a3a);}
/* Reset margin and padding on all elements by default */
html, body, button, div, iframe, img, input, label, span, textarea, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Set absolute positioning on elements used by WebMango (*not* on elements like <li> and <ul>) */
button, div, iframe, img, input, label, span, textarea, h1, h2, h3, h4, h5, h6 {
    position: absolute;
    box-sizing: content-box;
}

button::-moz-focus-inner { /* Firefox sadness :( */
    border: 0px;
    padding: 0px;
}

.coverwindow {
    background-color: black;
}

.coverwindowmessage {
    font-weight: bold;
    color: rgb(100, 100, 130);
    background-color: rgb(240, 240, 255);
    padding: 3px;
    margin: 2px;
    border: 2px solid rgb(128, 128, 160);
}
/*
 * Without these fixes, the bullets and item numbers of (un)ordered lists will show up outside the tooltip.
 */

div ul {
    padding-left: 1.5em;
}

div * ul {
    padding-left: 1.5em;
}

div ol {
    padding-left: 2em;
}

div * ol {
    padding-left: 2em;
}
/* Suppress native focus outline on anything except anchors */
input:focus, textarea:focus, button:focus, [tabindex='0']:focus {
    outline: none;
}
